@model GameStore.Frontend.MVC.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="text-left mb-4">Add New Movie</h1>

    <div class="card shadow-lg rounded p-4">
        <h4 class="card-title text-primary">Movie Details</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label fw-bold"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ReleaseDate" class="form-label fw-bold"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Genre" class="form-label fw-bold"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label fw-bold"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-success me-2" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}